<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.5.2" targetFramework="net471" />
  <package id="Syncfusion.Grid.Base" version="16.2.0.46" targetFramework="net471" />
  <package id="Syncfusion.Licensing" version="16.2.0.46" targetFramework="net471" />
  <package id="Syncfusion.Shared.Base" version="16.2.0.46" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net471" />
</packages>